<h1>Editing question</h1>

<% form_for(@question) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :question_long %><br />
    <%= f.text_area :question_long %>
  </p>
  <p>
    <%= f.label :question_short %><br />
    <%= f.text_field :question_short %>
  </p>
  <p>
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </p>
  <p>
    <%= f.label :example %><br />
    <%= f.text_area :example %>
  </p>
  <p>
    <%= f.label :question_type %><br />
    <%= f.text_field :question_type %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @question %> |
<%= link_to 'Back', questions_path %>