<% form_for([@response, @data_country]) do |f| %>
  <%= f.error_messages %>

<% @question_number=1 %>
<h3>There are <%= @questions.count %> questions in this section.</h3>
<% @questions.each do |tq| %>
    <h2><%= @question_number.to_s + ". " + tq.question_long %></h2>
<% @question_number+=1 %>
<% if tq.example != "" %>
<h3><i>e.g. <%= tq.example %></i></h3>
<% end %>
<%= hidden_field(tq.id, :question_id, :value => tq.id) %>

  <p>
    <%= select(tq.id, :published, [ ['1) Yes, this donor publishes this information systematically for each country', '1'],
				['2) Yes, this donor publishes this information sporadically on an ad hoc basis', '2'],
				['3) No, but this donor does collect this data', '3'],
				['4) No, and this donor doesn\'t collect this data either', '4'],
				['5) Don\'t know', '5']
					]) %>
  </p>
  <p>Do you know which system it's stored in?<br />
    <%= text_field(tq.id, :system) %>
  </p>
  <p>
    <%= f.label :evidence %><br />
    <%= text_area(tq.id, :evidence, :rows => 2) %>
  </p>
  <p>
    <%= f.label :comments %><br />
    <%= text_area(tq.id, :comments, :rows => 4) %>
  </p>
<% end %>

    <%= submit_tag 'Submit' %>
<% end %>
