<% @thisresponse_info = Donor.find(@response.donor_id).name + " in " + Country.find(@response.recipient_id).name %>
<h1>Country-level questions for <%=h @thisresponse_info %></h1>

<table>
  <tr>
    <th>Question</th>
    <th>Published</th>
    <th>System</th>
    <th>Evidence</th>
    <th>Comments</th>
  </tr>
<% @question_number=1 %>
<% @data_countries.each do |data_country| %>
  <tr>
<% @this_question_id= Question.find(data_country.question_id)%>
    <td><%=h @question_number.to_s + ". " + @this_question_id.question_short %></td>
<% @question_number+=1 %>
<% if data_country.published = 1 
	@data_country_published = 'Systematically'
elsif data_country.published = 2
	@data_country_published = 'Ad Hoc'
elsif data_country.published = 3
	@data_country_published = 'Collected only'
elsif data_country.published = 4
	@data_country_published = 'Not collected'
elsif data_country.published = 5
	@data_country_published = 'Don\'t know'
end %>

    <td><%=h @data_country_published %></td>
    <td><%=h data_country.system %></td>
    <td><%=h data_country.evidence %></td>
    <td><%=h data_country.comments %></td>
    <td><%= link_to 'Show', [@response, data_country] %></td>
    <td><%= link_to 'Edit', edit_response_data_country_path(@response, data_country) %></td>
    <td><%= link_to 'Destroy', [@response, data_country], :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Country Data', new_response_data_country_path(@response) %>
<%= link_to 'Back to Responses', responses_path %>
