<p>
<%= link_to "Responses", responses_url %> | 
<%= link_to "Questions", questions_url %> | 
<%= link_to "Countries", countries_url %> | 
<%= link_to "Donors", donors_url %> | 
<%= link_to "Users", users_url %>
</p>
<hr />
